<!DOCTYPE html>

<head>
    <title>
        404
    </title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">


</head>

<body>
    <div class="main-content">
        <h1>{{>header}}</h1>
        {{errorMessage}}


    </div>
    <div>{{>footer}}</div>
</body>

<script>
</script>

</html>