<!DOCTYPE html>

<head>
    <title>
        About
    </title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="main-content">
        <h1>{{>header}}</h1>
        <p>The data is used from api mapbox and weatherstack.</p>
        <img class="portrait" src="/img/vikas.png">
    </div>
    <div>{{>footer}}</div>
</body>

<script>
</script>

</html>